*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    background:url(bgimg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.wrapper{
    margin-top: 120px !important;
    color: white;
    display: flex;
    width: 100%;
    background-color: transparent;
    margin: auto;
    backdrop-filter: blur(4px) !important;
    border-radius: 30px;
    font-size: 50px;
    padding: 5px;
    z-index: -1;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgba(130, 26, 51, 1);
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgba(130, 26, 51, 1);
    }
}

.wrapper p {
    margin-top: 40px;
    display: flex;
    margin: auto;
    font-size: 59px;
    color: white;
}

button{
    width: 30%;
    font-weight: bolder;
    padding: 15px;
    font-size: 25px;
    margin-top: 40px;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    backdrop-filter: blur(4px) !important;
    outline: 0;
    transition: all .2s ease;
    border: 2px solid #c5368ee2;
}


button:not(:last-child){
    margin-top: 30px;
}
h1{
    width: 100px;
    background-color: transparent;
}

h1:not(:last-child){
    margin-top: 30px;
    margin-left: 50px;
}

button:hover,button:focus{
    border-color: #821a33;
    color: #821a33;
    box-shadow: 0px 4px 27px -12px #821a33;
}